@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
  }
body{
    width: 375px;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    position:absolute;
    margin:0 auto;
    background-color:#f3f3f3;
}

header, footer{
    z-index: 1;
    background-color: white;
    width:375px;
    height: 80px;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 22px;
    align-items: center;
}
header{
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
header img:nth-child(2){
    height: 40px;
}

main{
    width:100%;
    padding: 106px 0;
    position: relative;
}

footer{
    bottom: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05)
}
footer img{
    height: 26px;
}

footer img:hover{
    cursor: pointer;
}
.message{
    min-height: 40px;
    background: #FFFFFF;
    border-radius: 2px;
    margin: 4px 0;
    padding: 15px 0;
    align-self: center;
    line-height:20px;
}
.message.private{
    background: #FFDEDE;
}
.message.status{
    background: #DCDCDC;
}
strong, span{
    word-break: break-all;
}
.time{
    color: #aaaaaa;
}
strong{
    font-weight: 700;
}
img{
    height:21px;
}
.logo{
    height:53px;
}
.message *{
    margin-left: 5px;
}
input{
    border:none;
    width: 90%;
    height: 25px;
    font-size:18px; 
}
input::placeholder{
    font-size: 18px;
    line-height: 21px;
    border: none;
    height: 21px;
}
input:focus{
    outline: none;
}